<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6467256993656978~7991481646"/>

        <activity
            android:name=".questionFrame_letter.QuestionLightFrame"
            android:label="@string/title_activity_quiz_light_signal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".questionFrame_letter.QuestionLetterFrame"
            android:label="@string/title_activity_quiz_letter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.AdFrame"
            android:label="@string/title_activity_quiz_light_signal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".questionFrame_letter.QuestionMorseTaskFrame"
            android:label="@string/title_activity_quiz_light_signal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".questionFrame_letter.QuestionSoundFrame"
            android:label="@string/title_activity_quiz_light_signal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".questionFrame_letter.QuestionMorseFrame"
            android:label="@string/title_activity_quiz_morse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionFrame_number.QuestionNumberLightFrame"
            android:label="@string/title_activity_quiz_light_signal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".questionFrame_number.QuestionNumberLetterFrame"
            android:label="@string/title_activity_quiz_letter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionFrame_number.QuestionNumberMorseFrame"
            android:label="@string/title_activity_quiz_morse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>